@page
@model IndexModel
@{
    ViewData["Title"] = "GPS Friends";
}



<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>

<h1>Here you are</h1>
<div id="map"></div>
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    //laver map element og giver det et latitude og longtitode
    var map, infoWindow;

    function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 6,
            styles: [
                { elementType: 'geometry', stylers: [{ color: '#242f3e' }] },
                { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
                { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
                {
                    featureType: 'administrative.locality',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#d59563' }]
                },
                {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#d59563' }]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'geometry',
                    stylers: [{ color: '#263c3f' }]
                },
                {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#6b9a76' }]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{ color: '#38414e' }]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#212a37' }]
                },
                {
                    featureType: 'road',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#9ca5b3' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [{ color: '#746855' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#1f2835' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#f3d19c' }]
                },
                {
                    featureType: 'transit',
                    elementType: 'geometry',
                    stylers: [{ color: '#2f3948' }]
                },
                {
                    featureType: 'transit.station',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#d59563' }]
                },
                {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [{ color: '#17263c' }]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#515c6d' }]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.stroke',
                    stylers: [{ color: '#17263c' }]
                }
            ]
        });
        infoWindow = new google.maps.InfoWindow;
    }

</script>

<!--Googles API-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8ZjKyV_Q6cmshCmBMswH6JuQAkAzFdoo&callback=initMap">
</script>



<script>
    //Cannot get lat or lng
    function GetLocation() {
        if (navigator.geolocation) {
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);
            //Model.lat = position.coords.latitude;
            //Model.lng = position.coords.longitude;
            
        } else {
            
        }
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {

                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('You are here');
                infoWindow.open(map);
                map.setCenter(pos);


            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }
</script>

<br>
<br>
<br>
<h3>Search for users!</h3>
<form class="form-inline float-left" method="get">
    <input class="form-control mb-5" type="search" asp-for="Filter" />
    <button class="btn btn-primary mb-5">Search</button>
</form>


<table class="table">
    <tr>
        <!--<div class="badge-info"> -->
        <th>ID</th>
        <th>Username</th>
        <th>E-mail</th>
        <th>Last known location</th>
        <th></th>
        <!--<th>Latitude</th> -->
    </tr>
    <!--TODO: Add logged in users information here-->

    @foreach (var Mem in Model.Members)
    {
        <tr>
            <td>@Mem.Id</td>
            <td>@Mem.Username</td>
            <td>@Mem.Email</td>
            <td>@Mem.LastKnownLocation?.Longtitude</td> 
            <td>@Mem.LastKnownLocation?.Latitude</td>
        </tr>
    }
</table>

<h3>MAP</h3>

<div style=" display: block; margin: 0 auto;">

    <canvas id="canvas"
            width="1000"
            height="1000">
    </canvas>

</div>
